<h1><%= @surgery.title %> on <%= @surgery.day %></h1>

<h3>Operating Room: <%= @surgery.operating_room_number %>/h3>

<h4>Other Surgeries Happening The Same Day:</h4>
<p> <%= @other_surgeries.each do |other_surgery| %> </p>
  <section id ="surgery-<%= other_surgery.id %>">
    <h2> <%= link_to other_surgery.title, "surgeries/#{other_surgery.id}" %></h2>
  </section>
<% end %>
